@using Blaztrix.Core;
@using Blaztrix.Components.Tetris.Parts;
@using Blaztrix.Services
@using Microsoft.Extensions.Localization
@inject TetrisStateContainer TetrisState
@inject IStringLocalizer<App> Localize

@if (TetrisState.SettingsAccepted)
{
    <PageContainer EnableContentContainer=false>
        <div id="session-container">
            <div id="session-left-container" tabindex="0" @ref="_fieldContainer" @onclick="() => _fieldContainer.FocusAsync()" @onkeydown="KeyHandler">
                <p hidden="@(!TetrisState.Session.FieldState.IsBlocked)">
                    @(TetrisState.Session.IsLost ? Localize["You are lost"] : Localize["Paused"])
                </p>
                <Field FieldState="TetrisState.Session.FieldState" />
            </div>
            <div id="session-right-container">
                <div id="session-info-container">
                    <Info Score="TetrisState.Session.Score" Speed="TetrisState.Session.Speed" />
                </div>
                <div id="session-control-container">
                    <div class="button-container">
                        <button class="button" hidden="@(!TetrisState.Session.IsLost)" @onclick="() => TetrisState.SettingsAccepted = false">
                            @Localize["Restart"]
                        </button>
                        <button class="button" hidden="@TetrisState.Session.IsLost" @onclick="Pause">
                            @(TetrisState.Session.FieldState.IsBlocked ? Localize["Continue"] : Localize["Pause"])
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </PageContainer>
}
else
{
    <PageContainer Title="@Localize["Initial Tetris settings"]">
       <div id="session-settings-container">
            <InitialSettings @ref="_initialSettingsComponent" />
       </div>
    </PageContainer>
}

@code {
    private ElementReference _fieldContainer;
    private static InitialSettings _initialSettingsComponent;

    protected override void OnInitialized()
    {
        if (_initialSettingsComponent == null)
            _initialSettingsComponent = new InitialSettings();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (TetrisState.Session != null && TetrisState.SettingsAccepted)
        {
            TetrisState.Session.AutoMoved += () => _fieldContainer.FocusAsync();
            if (firstRender)
            {
                TetrisState.Session.FieldUpdated += StateHasChanged;
                _fieldContainer.FocusAsync();
            }
        }
        else
        {
            _initialSettingsComponent.Applied = new EventCallback(this, (Action)delegate
            {
                TetrisState.Session = new Session(_initialSettingsComponent.Width, _initialSettingsComponent.Height, 1);
                TetrisState.Session.FieldUpdated += StateHasChanged;
                TetrisState.Session.AutoMoved += () => _fieldContainer.FocusAsync();

                TetrisState.SettingsAccepted = true;
                TetrisState.Session.StartInBackground();
            });
        }
    }

    private void KeyHandler(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowLeft": TetrisState.Session.Control(Direction.Left); break;
            case "ArrowRight": TetrisState.Session.Control(Direction.Right); break;
            case "ArrowDown": TetrisState.Session.Control(Direction.Down); break;
            case " ": TetrisState.Session.Control(Direction.Around); break;
        }
    }

    private void Pause()
    {
        if (TetrisState.CurrentState == CurrentState.Paused)
            TetrisState.Session.StartInBackground();
        else TetrisState.Session.Stop();
    }
}